/*
Source - https://stackoverflow.com/a/70118639
Posted by Paul Wheeler
Retrieved 2026-05-11, License - CC BY-SA 4.0
*/

.sketch-container {
    position: fixed;
    z-index: -1;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

.main_content {
    min-width: max-content;
    justify-content: center;
    display: flex;
    margin-top: 5rem;
}
